/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: white;
}
html,
body {
  font-family: azo-sans-web, sans-serif;
  color: white;
  overflow-x: hidden;
}
h1 {
  font-family: azo-sans-web, sans-serif;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
p {
  line-height: 1.5;
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -10px;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 3%;
  background-color: #431070;
}
.nav-container #somnus {
  font-family: 'Pacifico', cursive;
  color: white;
  margin: 0;
}
.nav-container .classnav {
  width: 800px;
}
.nav-container .classnav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  margin-top: 4rem;
  margin-right: 2%;
  margin-left: 2%;
  padding: 0;
}
.nav-container .classnav #sign-up {
  font-size: 2.4rem;
  width: 200px;
  text-decoration: none;
  margin-right: 2%;
  margin-left: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border: solid;
  border-radius: 4px;
  background-color: #431070;
  color: #FFBA08;
}
.nav-container .classnav #sign-in {
  font-size: 2.4rem;
  width: 200px;
  text-decoration: none;
  margin-right: 0%;
  margin-left: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border: #FFBA08 solid;
  border-radius: 4px;
  color: #431070;
  background-color: #FFBA08;
  box-shadow: 0 12px 12px -15px black;
}
@media (max-width: 1000px) {
  .nav-container .classnav {
    display: none;
  }
}
@media (max-width: 530px) {
  .nav-container .classnav {
    display: none;
  }
}
.nav-container .tablet-and-mobile {
  display: none;
}
.nav-container .tablet-and-mobile #sign-in {
  font-size: 2.4rem;
  width: 200px;
  margin-right: 0%;
  margin-left: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border: #FFBA08 solid;
  border-radius: 4px;
  color: #431070;
  background-color: #FFBA08;
  box-shadow: 0 12px 12px -15px black;
}
.nav-container .tablet-and-mobile #sign-in a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1000px) {
  .nav-container .tablet-and-mobile #sign-in {
    width: 120px;
  }
}
.nav-container .tablet-and-mobile #sign-up {
  font-size: 2.4rem;
  width: 200px;
  margin-right: 2%;
  margin-left: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border: solid;
  border-radius: 4px;
  background: none;
  color: #FFBA08;
}
.nav-container .tablet-and-mobile #sign-up a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1000px) {
  .nav-container .tablet-and-mobile {
    display: flex;
    width: 450px;
    justify-content: space-between;
  }
}
@media (max-width: 530px) {
  .nav-container {
    padding-top: 10%;
    max-width: 100%;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}
.contact-container .contact-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
  background-color: #8b3ad6;
}
.contact-container .contact-top .contact-image img {
  width: 730px;
  height: 500px;
}
.contact-container .contact-form {
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
  margin-bottom: -220px;
  margin-top: -150px;
  width: 90%;
  height: 80%;
  padding-top: 5%;
  padding-bottom: 15%;
  background-color: #431070;
}
.contact-container .contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form form h2 {
  text-align: center;
  padding-top: 11%;
  padding-bottom: 11%;
  font-size: 2.3rem;
}
@media (max-width: 530px) {
  .contact-container .contact-form form h2 {
    width: 70%;
    margin: 0 auto;
  }
}
.contact-container .contact-form form .field {
  display: flex;
}
.contact-container .contact-form form .field #name-subject {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
}
.contact-container .contact-form form .field #name-subject label {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field #name-subject label {
    margin: 0 auto;
  }
}
.contact-container .contact-form form .field #name-subject input {
  width: 400px;
  height: 50px;
  margin-top: 9%;
  margin-bottom: 9%;
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field #name-subject input {
    width: 340px;
  }
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field #name-subject {
    margin-right: 0%;
  }
}
.contact-container .contact-form form .field #mail {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form form .field #mail label {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field #mail label {
    margin: 0 auto;
    justify-content: space-around;
  }
}
.contact-container .contact-form form .field #mail input {
  width: 400px;
  height: 50px;
  margin-top: 9%;
  margin-bottom: 9%;
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field #mail input {
    width: 340px;
  }
}
@media (max-width: 1000px) {
  .contact-container .contact-form form .field {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 530px) {
  .contact-container .contact-form form .field {
    justify-content: center;
  }
}
.contact-container .contact-form form #msg {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form form #msg label {
  font-size: 2rem;
}
.contact-container .contact-form form #msg textarea {
  height: 300px;
  margin-top: 3%;
}
@media (max-width: 1000px) {
  .contact-container .contact-form form #msg textarea {
    width: 340px;
    margin-bottom: 20%;
  }
}
@media (max-width: 530px) {
  .contact-container .contact-form form #msg {
    margin-bottom: 20%;
  }
}
@media (max-width: 530px) {
  .contact-container .contact-form {
    border-radius: 15px;
  }
}
@media (max-width: 530px) {
  .contact-container {
    background-color: #431070;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container #btm-img {
  margin-bottom: -190px;
  height: 400px;
  width: 400px;
  z-index: 1;
}
.footer-container .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  background: #8b3ad6;
}
.footer-container .footer .classnav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.footer-container .footer .classnav a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}
@media (max-width: 1000px) {
  .footer-container .footer .classnav {
    width: 80%;
  }
}
@media (max-width: 530px) {
  .footer-container .footer .classnav {
    width: 80%;
  }
}
.footer-container .footer .social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .footer .social img {
  height: 50%;
}
.footer-container .footer .social h3 {
  width: 60%;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 2%;
}
@media (max-width: 1000px) {
  .footer-container .footer .social h3 {
    width: 64%;
    font-size: 1.6rem;
    padding-top: 20%;
    padding-bottom: 10%;
  }
}
@media (max-width: 530px) {
  .footer-container .footer .social h3 {
    width: 64%;
    font-size: 1.6rem;
    padding-top: 20%;
    padding-bottom: 10%;
  }
}
@media (max-width: 1000px) {
  .footer-container .footer {
    flex-direction: column;
    align-content: space-around;
    padding-top: 27%;
    padding-bottom: 10%;
  }
}
@media (max-width: 530px) {
  .footer-container .footer {
    flex-direction: column;
    align-content: space-around;
    padding-top: 50%;
    padding-bottom: 10%;
  }
}
