.footer{
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;


  .classnav{
    width: 30%;    

    a{
      font-size: 2rem;
      color: white;
      text-decoration: none;
      
    }
  }

  .social{
    height: 100%;
    width: 100%;

  }
  


}