
.topdiv{
  display: flex;
  justify-content: space-between;

  
  .top-text{
    width: 40%;
  }

  .top-image{
    width: 30%;
    height: 30%;
    margin-left: 40%;
  }

}

.laptop{
  margin: 0 auto;
  height: 100%;
  width: 80%;

  img{
    
  }

}

.mid-div{
  margin: 0 auto;
}

.one{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%; 
  border: 2px red solid;
}

.two{
  display: flex;
  padding-top: 2%; 
  padding-bottom: 2%; 
  margin-top: 1%;
  margin-bottom: 1%; 
  border: 2px red solid;
}

.three{
  display: flex;
  padding-top: 2%; 
  padding-bottom: 2%; 
  margin-top: 1%;
  margin-bottom: 1%; 
  border: 2px red solid;
}

.four{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  border: 2px red solid;
}

.btmdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h3{
    // text-align: center;
  }

  button{
    // width: 30%;
  }

}
