
.topdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #431070 47.69%, #7D41B2 85.45%);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;


  .top-text{
    width: 60%;
    align-content: center;
    border: 2px red solid;

  }

  .top-image{
    width: 30%;
    height: 30%;
    margin-left: 40%;
    border: 2px red solid;

  }

}

.laptop{
  margin: 0 auto;
  height: 100%;
  width: 80%;



}

.mid-div{
  margin: 0 auto;
}

.one{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%; 
  border: 2px red solid;
  background-color: #783DAC;
}

.two{
  display: flex;
  padding-top: 2%; 
  padding-bottom: 2%; 
  margin-top: 1%;
  margin-bottom: 1%; 
  border: 2px red solid;
  background-color: #783DAC;

}

.three{
  display: flex;
  padding-top: 2%; 
  padding-bottom: 2%; 
  margin-top: 1%;
  margin-bottom: 1%; 
  border: 2px red solid;
  background-color: #783DAC;

}

.four{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  border: 2px red solid;
  background-color: #783DAC;

}

.btmdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  h3{
    // text-align: center;
  }

  button{
    // width: 30%;
  }

}
