

.container{
  width: 100%;

  .topdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #431070 47.69%, #7D41B2 85.45%);
    padding-top: 0%;
    padding-bottom: 9%;
    padding-left: 4%;
    margin: 0;

    .top-text{

      width: 62%;

      h1{
        width: 80%;
        margin-bottom: 5%;
        margin-top: 5%;
      }

      p{
        width: 90%;
      }
    }

    .moon-image{
      overflow: hidden;
      position: relative;
      border: 2px solid red;

      img{
        position: absolute;
        height: 100%;
        // width: 30%;
        // right: 0%;
        // left: 0%;
        // top: 0%;
        // bottom: 0%;
      }
    }

  }

  .laptop{
    margin: 0 auto;
    margin-top: -8%;
    height: 100%;
    width: 80%;
  }

  .mid-div{
    // text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0 auto;
    width: 95%;
  }

  .one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%; 
    // border: 2px red solid;
    background-color: #783DAC;

    img{
      height: 225px;
      width: 225px;
    }

    p{
      width: 30%;
      margin-left: 9%;
      margin-right: 9%;
    }
  }

  .two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7%; 
    padding-bottom: 7%; 
    margin-top: 2%;
    margin-bottom: 2%; 
    // border: 2px red solid;
    background-color: #783DAC;

    img{
      height: 25%;
      width: 25%;
    }

    p{
      // text-align: center;
      width: 46%;
    }
  }

  .three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2%; 
    padding-bottom: 2%; 
    margin-top: 2%;
    margin-bottom: 2%; 
    // border: 2px red solid;
    background-color: #783DAC;

    img{
      height: 225px;
      width: 225px;
    }

    p{
      width: 50%;
    }
  }

  .four{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    // border: 2px red solid;
    background-color: #783DAC;

    p{
      width: 40%;
    }
  }

  .btmdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 0%;
    margin: 0 auto;
    height: 300px;
    // width: 300px;

  

    button{
      display: block;
      width: 20%;
      height: 5rem;
      margin: 2% auto;
      border: none;
      border-radius: 6px; 
      background-color: #4A90E2;
      font-size: 2rem;
      color: white;
      text-align: center; 
    }

  }

  #btm-img {
    margin: 0 auto;
    margin-bottom: -190px;
    height: 400px;
    width: 400px;
    z-index: 0;
  }


}