.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;

  #somnus{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    color: white;
    margin: 0;
  }

  .classnav{

    a{
      text-decoration: none;
    }


    button{
      text-decoration: none;
    }

  }
}